@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #AAA;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mb5 {
  margin-bottom: 5px !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.bule {
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 80rem;
}

.top {
  position: fixed;
  right: 3%;
  bottom: 5%;
  z-index: 10;
}

.top ul li {
  list-style: none;
}

.top ul li a {
  transition: color 0.2s ease;
}

.top ul li a:hover {
  color: #b4b4b4;
}

.active {
  color: #08aeea !important;
}

.top-icon {
  font-size: 50px;
}

.about_img {
  height: 328px;
}

.about_img .about-bg > img {
  width: 100%;
}

.box .author-intro {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
  color: #fff;
}

.box .author-intro > img {
  display: inline;
  width: 90px;
  height: 90px;
  padding: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 20px #fadfa3;
  -webkit-box-shadow: 0 0 20px #fadfa3;
  box-shadow: 0 0 20px #fadfa3;
  margin-top: -55px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #f8f8f8;
}

.box .author-intro > h4 {
  color: #ffffff !important;
}

.about_img .about-bg img {
  background-color: rgba(0, 0, 0, .2);
  transition: all 3s;
  -webkit-transition: all 3s;
  -ms-transition: all 3s;
}

.about_img .about-bg img:hover {
  opacity: 1;
  -webkit-transform: translateY(-270px);
  -moz-transform: translateY(-270px);
  -ms-transform: translateY(-270px);
  -o-transform: translateY(-270px);
  transform: translateY(-270px);
}

@media screen and (max-width: 1920px) {
  .box .post-data-img {
    height: 273px;
  }
}

@media screen and (max-width: 1680px) {
  .container {
    width: 80rem;
  }

  .box .post-data-img {
    height: 273px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 65rem;
  }

  .box .post-data-img {
    height: 313px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 90%;
  }

  .box .post-data-img {
    height: 298px;
  }

  .about_img img:hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .top-icon {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }

  .about_img {
    height: 100%;
  }

  .about_img img:hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .top-icon {
    font-size: 35px;
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: 90% !important;
  }

  .box .post-data-img {
    height: 100%;
  }

  .about_img {
    height: 100%;
  }

  .about_img img:hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .top-icon {
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90% !important;
  }

  .box .post-data-img {
    height: 100%;
  }

  .about_img {
    height: 100%;
  }

  .about_img img:hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .top-icon {
    font-size: 35px;
  }
}

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after, .row:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.clear {
  clear: both;
}

.row.uniform > * > :first-child {
  margin-top: 0;
}

.row.uniform > * > :last-child {
  margin-bottom: 0;
}

.row > * {
  padding: 0 0 0 2rem;
}

.row {
  margin: 0 0 -1px -2rem;
}

.row.uniform > * {
  padding: 2rem 0 0 2rem;
}

.row.uniform {
  margin: -2rem 0 -1px -2rem;
}

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 0 0 0 2rem;
  }

  .row {
    margin: 0 0 -1px -2rem;
  }

  .row.uniform > * {
    padding: 2rem 0 0 2rem;
  }

  .row.uniform {
    margin: -2rem 0 -1px -2rem;
  }
}

@media screen and (max-width: 1280px) {
  .row > * {
    padding: 0 0 0 1.5rem;
  }

  .row {
    margin: 0 0 -1px -1.5rem;
  }

  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem;
  }

  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem;
  }
}

@media screen and (max-width: 980px) {
  .row > * {
    padding: 0 0 0 1.5rem;
  }

  .row {
    margin: 0 0 -1px -1.5rem;
  }

  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem;
  }

  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem;
  }
}

@media screen and (max-width: 736px) {
  .row > * {
    padding: 0 0 0 1.25rem;
  }

  .row {
    margin: 0 0 -1px -1.25rem;
  }

  .row.uniform > * {
    padding: 1.25rem 0 0 1.25rem;
  }

  .row.uniform {
    margin: -1.25rem 0 -1px -1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .row > * {
    padding: 0 0 0 1.25rem;
  }

  .row {
    margin: 0 0 -1px -1.25rem;
  }

  .row.uniform > * {
    padding: 1.25rem 0 0 1.25rem;
  }

  .row.uniform {
    margin: -1.25rem 0 -1px -1.25rem;
  }
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

body {
  background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

html {
  font-size: 13pt;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }
}

body {
  background-color: #fff;
  color: #444;
}

body, input, select, textarea {
  font-family: 'Source Sans Pro', 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #808080;
}

a:hover {
  color: #007bff;
}

a:active {
  color: #808080;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75rem;
  text-transform: capitalize;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.35rem;
  text-transform: capitalize;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem;
}

blockquote {
  border-left: solid 4px;
  margin: 0 0 2rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
}

code {
  border-radius: 4px;
  border: solid 1px;
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
  margin: 0 0.25rem;
  padding: 0.25rem 0.65rem;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: Consolas, "Courier New", monospace;
  margin: 0 0 2rem 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 16px;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2rem 0;
}

hr.major {
  margin: 3rem 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input, select, textarea {
  color: #555;
}

a {
  color: #08aeea;
}

.top a {
  color: #808080;
}

strong, b {
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
}

blockquote {
  border-left-color: rgba(144, 144, 144, 0.25);
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

hr {
  border-bottom-color: rgba(144, 144, 144, 0.25);
}

[v-cloak] {
  display: none;
}

.box {
  margin-bottom: 2rem;
  word-break: break-all;
  word-wrap: break-word;
}

.box .title {
  font-size: 1.45rem;
}

.box .image {
  overflow: hidden;
}

.box .content {
  padding: 1rem 3rem 3rem 3rem;
}

.img-fit {
  transition: all 0.4s;
}

.img-fit:hover {
  transform: scale(1.4);
}

.inline-block:not(:first-child) {
  margin-left: 0.875rem;
}

.inline-block {
  display: inline-block !important;
}

.box > :last-child, .box > :last-child > :last-child, .box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

@media screen and (max-width: 736px) {
  .box .content {
    padding: 2rem;
  }
}

.box {
  border-color: rgba(144, 144, 144, 0.25);
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85rem;
  line-height: 2.95rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: capitalize;
}

input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon, button.icon, .button.icon {
  padding-left: 1.35rem;
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, button.icon:before, .button.icon:before {
  margin-right: 0.5rem;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, button.fit, .button.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
  font-size: 0.8rem;
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big, .button.big {
  font-size: 1.35rem;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button.disabled, button:disabled, .button.disabled, .button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    padding: 0;
  }
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  background-color: #f2f2f2;
  color: #000;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
  background-color: white;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .button:active {
  background-color: #e5e5e5;
}

input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, button.alt, .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #555;
}

input[type="submit"].alt:hover, input[type="reset"].alt:hover, input[type="button"].alt:hover, button.alt:hover, .button.alt:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active, input[type="reset"].alt:active, input[type="button"].alt:active, button.alt:active, .button.alt:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before, input[type="reset"].alt.icon:before, input[type="button"].alt.icon:before, button.alt.icon:before, .button.alt.icon:before {
  color: #bbb;
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special, button.special, .button.special {
  background-color: #08aeea;
  color: #ffffff !important;
}

input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, button.special:hover, .button.special:hover {
  background-color: #71b2f0;
}

input[type="submit"].special:active, input[type="reset"].special:active, input[type="button"].special:active, button.special:active, .button.special:active {
  background-color: #439aea;
}

form {
  margin: 0 0 2rem 0;
}

form .field {
  margin-bottom: 2rem;
}

form .field.half {
  display: inline-block;
  width: 48%;
}

form .field.half.first {
  margin-right: 2.5%;
}

@media screen and (max-width: 980px) {
  form .field.half {
    display: block;
    width: 100%;
  }

  form .field.half.first {
    margin-right: 0;
  }
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, select:invalid, textarea:invalid {
  box-shadow: none;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  display: block;
  height: 2.75rem;
  line-height: 2.75rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75rem;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 2.75rem;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type="checkbox"], input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 2.4rem;
  padding-right: 0.75rem;
  position: relative;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 1.65rem;
  left: 0;
  line-height: 1.58125rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65rem;
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
  content: "\f00c";
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

.formerize-placeholder {
  opacity: 1;
}

label {
  color: #555;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
  border-color: #08aeea;
  box-shadow: 0 0 0 1px #08aeea;
  background-color: #fdfbfb !important;
}

textarea {
  resize: vertical;
}

.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"] + label, input[type="radio"] + label {
  color: #444;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
  background-color: #08aeea;
  border-color: #08aeea;
  color: #ffffff;
}

input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {
  border-color: #08aeea;
  box-shadow: 0 0 0 1px #08aeea;
}

::-webkit-input-placeholder {
  color: #bbb !important;
}

:-moz-placeholder {
  color: #bbb !important;
}

::-moz-placeholder {
  color: #bbb !important;
}

:-ms-input-placeholder {
  color: #bbb !important;
}

.formerize-placeholder {
  color: #bbb !important;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1.5rem 1rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 1rem 1.5rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
  height: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3rem 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}

ol li {
  padding-left: 0.25rem;
}

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}

#post ul li, #app ul li {
  padding-left: 0.5rem;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.5rem 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1rem 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 2rem;
}

ul.actions li {
  display: inline-block;
  padding: 0 1rem 0 0;
  vertical-align: middle;
}

ul.actions li a.friends {
  color: #ffffff;
  text-decoration: none;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5rem 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1rem 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5rem 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1rem;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1rem);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1rem;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5rem;
  width: calc(100% + 0.5rem);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5rem;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2rem 0;
  }

  ul.actions li {
    padding: 1rem 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
  }

  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }

  ul.actions li > *.icon:before {
    margin-left: -2rem;
  }

  ul.actions.small li {
    padding: 0.5rem 0 0 0;
  }

  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

dl {
  margin: 0 0 2rem 0;
}

dl dt {
  display: block;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

dl dd {
  margin-left: 2rem;
}

ul.alt li {
  border-top-color: rgba(144, 144, 144, 0.25);
}

section.special, article.special {
  text-align: center;
}

header p {
  position: relative;
  margin: 0 0 1.5rem 0;
}

header h2 + p {
  font-size: 1rem;
  margin-top: -1rem;
}

header h3 + p {
  font-size: 1.1rem;
  margin-top: -0.8rem;
}

header h4 + p, header h5 + p, header h6 + p {
  font-size: 0.9rem;
  margin-top: -0.6rem;
}

header p {
  color: #bbb;
}

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  display: block;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tbody tr {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
}

table td {
  padding: 0.75rem 0.75rem;
  border: 1px solid #dfe2e5;
}

table th {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

table thead {
  border-bottom: solid 2px;
}

table tfoot {
  border-top: solid 2px;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px;
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

table tbody tr {
  border-color: rgba(144, 144, 144, 0.25);
}

table tbody tr:nth-child(2n + 1) {
}

table tbody tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table th {
  color: #555;
}

table thead {
  border-bottom-color: rgba(144, 144, 144, 0.25);
}

table tfoot {
  border-top-color: rgba(144, 144, 144, 0.25);
}

table.alt tbody tr td {
  border-color: rgba(144, 144, 144, 0.25);
}

.wrapper {
  padding: 6rem 0 4rem 0;
  position: relative;
  margin: 0;
}

.wrapper > .inner {
  margin: 0 auto;
  width: 80rem;
}

.wrapper.style1 {
  background-color: #08aeea;
  color: #d6e9fb;
}

.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
  color: #ffffff;
}

.wrapper.style1 a {
  color: #ffffff;
}

.wrapper.style1 strong, .wrapper.style1 b {
  color: #ffffff;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
  color: #ffffff;
}

.wrapper.style1 blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .box {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="submit"], .wrapper.style1 input[type="reset"], .wrapper.style1 input[type="button"], .wrapper.style1 button, .wrapper.style1 .button {
  background-color: #f2f2f2;
  color: #000 !important;
}

.wrapper.style1 input[type="submit"]:hover, .wrapper.style1 input[type="reset"]:hover, .wrapper.style1 input[type="button"]:hover, .wrapper.style1 button:hover, .wrapper.style1 .button:hover {
  background-color: white;
}

.wrapper.style1 input[type="submit"]:active, .wrapper.style1 input[type="reset"]:active, .wrapper.style1 input[type="button"]:active, .wrapper.style1 button:active, .wrapper.style1 .button:active {
  background-color: #e5e5e5;
}

.wrapper.style1 input[type="submit"].alt, .wrapper.style1 input[type="reset"].alt, .wrapper.style1 input[type="button"].alt, .wrapper.style1 button.alt, .wrapper.style1 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
}

.wrapper.style1 input[type="submit"].alt:hover, .wrapper.style1 input[type="reset"].alt:hover, .wrapper.style1 input[type="button"].alt:hover, .wrapper.style1 button.alt:hover, .wrapper.style1 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 input[type="submit"].alt:active, .wrapper.style1 input[type="reset"].alt:active, .wrapper.style1 input[type="button"].alt:active, .wrapper.style1 button.alt:active, .wrapper.style1 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style1 input[type="submit"].alt.icon:before, .wrapper.style1 input[type="reset"].alt.icon:before, .wrapper.style1 input[type="button"].alt.icon:before, .wrapper.style1 button.alt.icon:before, .wrapper.style1 .button.alt.icon:before {
  color: #bddbf8;
}

.wrapper.style1 input[type="submit"].special, .wrapper.style1 input[type="reset"].special, .wrapper.style1 input[type="button"].special, .wrapper.style1 button.special, .wrapper.style1 .button.special {
  background-color: #ffffff;
  color: #08aeea !important;
}

.wrapper.style1 label {
  color: #ffffff;
}

.wrapper.style1 input[type="text"], .wrapper.style1 input[type="password"], .wrapper.style1 input[type="email"], .wrapper.style1 select, .wrapper.style1 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="text"]:focus, .wrapper.style1 input[type="password"]:focus, .wrapper.style1 input[type="email"]:focus, .wrapper.style1 select:focus, .wrapper.style1 textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="checkbox"] + label, .wrapper.style1 input[type="radio"] + label {
  color: #d6e9fb;
}

.wrapper.style1 input[type="checkbox"] + label:before, .wrapper.style1 input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="checkbox"]:checked + label:before, .wrapper.style1 input[type="radio"]:checked + label:before {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #08aeea;
}

.wrapper.style1 input[type="checkbox"]:focus + label:before, .wrapper.style1 input[type="radio"]:focus + label:before {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1::-webkit-input-placeholder {
  color: #bddbf8 !important;
}

.wrapper.style1:-moz-placeholder {
  color: #bddbf8 !important;
}

.wrapper.style1::-moz-placeholder {
  color: #bddbf8 !important;
}

.wrapper.style1:-ms-input-placeholder {
  color: #bddbf8 !important;
}

.wrapper.style1 .formerize-placeholder {
  color: #bddbf8 !important;
}

.wrapper.style1 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 header p {
  color: #bddbf8;
}

.wrapper.style1 table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 table th {
  color: #ffffff;
}

.wrapper.style1 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 {
  background-color: #f2f2f2;
  color: #a6a6a6;
  overflow: hidden;
}

.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
  color: #000;
}

.wrapper.style2 a {
  transition: all 0.3s ease;
}

.wrapper.style2 a:hover {
  color: #0d8abf;
}

.wrapper.style2 strong, .wrapper.style2 b {
  color: #000;
}

.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
  color: #2c3e50;
}

.wrapper.style2 blockquote {
  border-left-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 code {
}

.wrapper.style2 hr {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 .box {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type="submit"], .wrapper.style2 input[type="reset"], .wrapper.style2 input[type="button"], .wrapper.style2 button, .wrapper.style2 .button {
  background-color: #000;
  color: #f2f2f2;
}

.wrapper.style2 input[type="submit"].alt, .wrapper.style2 input[type="reset"].alt, .wrapper.style2 input[type="button"].alt, .wrapper.style2 button.alt, .wrapper.style2 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
  color: #000;
}

.wrapper.style2 input[type="submit"].alt:hover, .wrapper.style2 input[type="reset"].alt:hover, .wrapper.style2 input[type="button"].alt:hover, .wrapper.style2 button.alt:hover, .wrapper.style2 .button.alt:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.wrapper.style2 input[type="submit"].alt:active, .wrapper.style2 input[type="reset"].alt:active, .wrapper.style2 input[type="button"].alt:active, .wrapper.style2 button.alt:active, .wrapper.style2 .button.alt:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper.style2 input[type="submit"].alt.icon:before, .wrapper.style2 input[type="reset"].alt.icon:before, .wrapper.style2 input[type="button"].alt.icon:before, .wrapper.style2 button.alt.icon:before, .wrapper.style2 .button.alt.icon:before {
  color: #999999;
}

.wrapper.style2 input[type="submit"].special, .wrapper.style2 input[type="reset"].special, .wrapper.style2 input[type="button"].special, .wrapper.style2 button.special, .wrapper.style2 .button.special {
  background-color: #08aeea;
  color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].special:hover, .wrapper.style2 input[type="reset"].special:hover, .wrapper.style2 input[type="button"].special:hover, .wrapper.style2 button.special:hover, .wrapper.style2 .button.special:hover {
  background-color: #71b2f0;
}

.wrapper.style2 input[type="submit"].special:active, .wrapper.style2 input[type="reset"].special:active, .wrapper.style2 input[type="button"].special:active, .wrapper.style2 button.special:active, .wrapper.style2 .button.special:active {
  background-color: #439aea;
}

.wrapper.style2 label {
  color: #000;
}

.wrapper.style2 input[type="text"], .wrapper.style2 input[type="password"], .wrapper.style2 input[type="email"], .wrapper.style2 select, .wrapper.style2 textarea {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type="text"]:focus, .wrapper.style2 input[type="password"]:focus, .wrapper.style2 input[type="email"]:focus, .wrapper.style2 select:focus, .wrapper.style2 textarea:focus {
  border-color: #08aeea;
  box-shadow: 0 0 0 1px #08aeea;
}

.wrapper.style2 .select-wrapper:before {
  color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type="checkbox"] + label, .wrapper.style2 input[type="radio"] + label {
  color: #a6a6a6;
}

.wrapper.style2 input[type="checkbox"] + label:before, .wrapper.style2 input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type="checkbox"]:checked + label:before, .wrapper.style2 input[type="radio"]:checked + label:before {
  background-color: #08aeea;
  border-color: #08aeea;
  color: #ffffff;
}

.wrapper.style2 input[type="checkbox"]:focus + label:before, .wrapper.style2 input[type="radio"]:focus + label:before {
  border-color: #08aeea;
  box-shadow: 0 0 0 1px #08aeea;
}

.wrapper.style2::-webkit-input-placeholder {
  color: #999999 !important;
}

.wrapper.style2:-moz-placeholder {
  color: #999999 !important;
}

.wrapper.style2::-moz-placeholder {
  color: #999999 !important;
}

.wrapper.style2:-ms-input-placeholder {
  color: #999999 !important;
}

.wrapper.style2 .formerize-placeholder {
  color: #999999 !important;
}

.wrapper.style2 ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 header p {
  color: #999999;
}

.wrapper.style2 table tbody tr {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 table tbody tr:nth-child(2n + 1) {
}

.wrapper.style2 table th {
  color: #000;
}

.wrapper.style2 table thead {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 table tfoot {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style3 {
  background-color: #000;
  color: #bfbfbf;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
  color: #ffffff;
}

.wrapper.style3 a {
  color: #08aeea;
}

.wrapper.style3 strong, .wrapper.style3 b {
  color: #ffffff;
}

.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
  color: #ffffff;
}

.wrapper.style3 blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 .box {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type="submit"], .wrapper.style3 input[type="reset"], .wrapper.style3 input[type="button"], .wrapper.style3 button, .wrapper.style3 .button {
  background-color: #f2f2f2;
  color: #000 !important;
}

.wrapper.style3 input[type="submit"]:hover, .wrapper.style3 input[type="reset"]:hover, .wrapper.style3 input[type="button"]:hover, .wrapper.style3 button:hover, .wrapper.style3 .button:hover {
  background-color: white;
}

.wrapper.style3 input[type="submit"]:active, .wrapper.style3 input[type="reset"]:active, .wrapper.style3 input[type="button"]:active, .wrapper.style3 button:active, .wrapper.style3 .button:active {
  background-color: #e5e5e5;
}

.wrapper.style3 input[type="submit"].alt, .wrapper.style3 input[type="reset"].alt, .wrapper.style3 input[type="button"].alt, .wrapper.style3 button.alt, .wrapper.style3 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
}

.wrapper.style3 input[type="submit"].alt:hover, .wrapper.style3 input[type="reset"].alt:hover, .wrapper.style3 input[type="button"].alt:hover, .wrapper.style3 button.alt:hover, .wrapper.style3 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style3 input[type="submit"].alt:active, .wrapper.style3 input[type="reset"].alt:active, .wrapper.style3 input[type="button"].alt:active, .wrapper.style3 button.alt:active, .wrapper.style3 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style3 input[type="submit"].alt.icon:before, .wrapper.style3 input[type="reset"].alt.icon:before, .wrapper.style3 input[type="button"].alt.icon:before, .wrapper.style3 button.alt.icon:before, .wrapper.style3 .button.alt.icon:before {
  color: #999999;
}

.wrapper.style3 input[type="submit"].special, .wrapper.style3 input[type="reset"].special, .wrapper.style3 input[type="button"].special, .wrapper.style3 button.special, .wrapper.style3 .button.special {
  background-color: #08aeea;
  color: #ffffff !important;
}

.wrapper.style3 input[type="submit"].special:hover, .wrapper.style3 input[type="reset"].special:hover, .wrapper.style3 input[type="button"].special:hover, .wrapper.style3 button.special:hover, .wrapper.style3 .button.special:hover {
  background-color: #71b2f0;
}

.wrapper.style3 input[type="submit"].special:active, .wrapper.style3 input[type="reset"].special:active, .wrapper.style3 input[type="button"].special:active, .wrapper.style3 button.special:active, .wrapper.style3 .button.special:active {
  background-color: #439aea;
}

.wrapper.style3 label {
  color: #ffffff;
}

.wrapper.style3 input[type="text"], .wrapper.style3 input[type="password"], .wrapper.style3 input[type="email"], .wrapper.style3 select, .wrapper.style3 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type="text"]:focus, .wrapper.style3 input[type="password"]:focus, .wrapper.style3 input[type="email"]:focus, .wrapper.style3 select:focus, .wrapper.style3 textarea:focus {
  border-color: #08aeea;
  box-shadow: 0 0 0 1px #08aeea;
}

.wrapper.style3 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type="checkbox"] + label, .wrapper.style3 input[type="radio"] + label {
  color: #bfbfbf;
}

.wrapper.style3 input[type="checkbox"] + label:before, .wrapper.style3 input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type="checkbox"]:checked + label:before, .wrapper.style3 input[type="radio"]:checked + label:before {
  background-color: #08aeea;
  border-color: #08aeea;
  color: #ffffff;
}

.wrapper.style3 input[type="checkbox"]:focus + label:before, .wrapper.style3 input[type="radio"]:focus + label:before {
  border-color: #08aeea;
  box-shadow: 0 0 0 1px #08aeea;
}

.wrapper.style3::-webkit-input-placeholder {
  color: #999999 !important;
}

.wrapper.style3:-moz-placeholder {
  color: #999999 !important;
}

.wrapper.style3::-moz-placeholder {
  color: #999999 !important;
}

.wrapper.style3:-ms-input-placeholder {
  color: #999999 !important;
}

.wrapper.style3 .formerize-placeholder {
  color: #999999 !important;
}

.wrapper.style3 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 header p {
  color: #999999;
}

.wrapper.style3 table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style3 table th {
  color: #ffffff;
}

.wrapper.style3 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 .inner {
  position: relative;
  z-index: 2;
}

.wrapper.style3:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 75rem;
  }
}

@media screen and (max-width: 980px) {
  .wrapper > .inner {
    width: 90%;
  }

  .wrapper.style3 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 736px) {
  .style2 > .inner {
    width: 100%;
  }

  .wrapper {
    padding: 3rem 0 1rem 0;
  }
}

body.subpage {
  padding-top: 3.125em;
}

@-moz-keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-ms-keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

#header {
  background: rgba(0, 0, 0, 0.75);
  color: #a6a6a6;
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header .toggle span {
  display: none;
}

#header > .logo {
  display: inline-block;
  height: inherit;
  left: 1.25rem;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

#header > .logo a {
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
}

#header > .logo span {
  font-weight: 300;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

#header > a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 0.75em;
  color: inherit;
  text-decoration: none;
  color: #fff;
}

#header > a.toggle {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#header > a.toggle:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header > a.toggle:before {
  margin: 0 0.5em 0 0;
}

#header > a + a.toggle:last-child {
  border-left: solid 1px rgba(0, 0, 0, 0.15);
  padding-left: 1.25em;
  margin-left: 0.5em;
}

#header > a:last-child {
  padding-right: 1.25em;
}

@media screen and (max-width: 736px) {
  #header > a {
    padding: 0 0.5em;
  }

  #header > a + a.toggle:last-child {
    padding-left: 1em;
    margin-left: 0.25em;
  }

  #header > a:last-child {
    padding-right: 1em;
  }
}

#header.reveal {
  -moz-animation: reveal-header 0.5s ease;
  -webkit-animation: reveal-header 0.5s ease;
  -ms-animation: reveal-header 0.5s ease;
  animation: reveal-header 0.5s ease;
}

#header.alt {
  -moz-animation: none;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  position: absolute;
  top: 1.5em;
}

#header.alt h1 {
  left: 2.5em;
}

#header.alt nav {
  right: 2.5em;
}

@media screen and (max-width: 980px) {
  body.subpage {
    padding-top: 44px;
  }

  #header {
    height: 44px;
    line-height: 44px;
  }

  #header > h1 {
    left: 1em;
  }

  #header > h1 a {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  #header {
    min-width: 320px;
  }
}

#menu {
  -moz-transform: translateX(20em);
  -webkit-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
  -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: #000;
  box-shadow: none;
  color: #000;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 10002;
}

#menu > ul {
  margin: 0 0 1rem 0;
}

#menu > ul.links {
  list-style: none;
  padding: 0;
}

#menu > ul.links > li {
  padding: 0;
}

#menu > ul.links > li > a:not(.button) {
  border: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  color: #fff;
  display: block;
  line-height: 3.5em;
  text-decoration: none;
}

#menu > ul.links > li > a:not(.button):hover {
  color: #08aeea;
}

#menu > ul.links > li > .button {
  display: block;
  margin: 0.5em 0 0 0;
}

#menu > ul.links > li:first-child > a:not(.button) {
  border-top: 0 !important;
}

#menu .close {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 3.25em;
  line-height: 3.25em;
  padding-right: 1.25em;
  position: absolute;
  right: 5px;
  text-align: right;
  top: 17px;
  vertical-align: middle;
  width: 7em;
}

#menu .close:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#menu .close:before {
  font-size: 1.25em;
}

#menu .close:hover {
  color: #f2f2f2;
}

#menu > ul > li > a {
  font-family: Avenir Next, PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;
}

@media screen and (max-width: 736px) {
  #menu .close {
    height: 4em;
    line-height: 4em;
  }
}

#menu.visible {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

@media screen and (max-width: 736px) {
  #menu {
    padding: 2.5em 1.75em;
  }
}

#banner {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-position: center;
  background-image: url(/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 0;
  min-height: 100vh;
  height: 100vh !important;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#banner .inner {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  z-index: 2;
}

#banner h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 0.03em 0.01em #2ee6e6, -0.03em -0.01em #e62ee6;
}

#banner p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

#banner video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#banner:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  #banner video {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    min-height: 0;
    height: auto !important;
    padding: 6rem 2rem 4rem 2rem;
  }

  #banner .inner {
    width: 100%;
  }

  #banner h1 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    padding-bottom: 0;
  }

  #banner p {
    font-size: 1.25em;
  }

  #banner br {
    display: none;
  }

  #banner .button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #banner p {
    font-size: 1em;
  }
}

body.is-loading #banner .inner {
  -moz-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
  opacity: 0;
}

body.is-loading #banner:before {
  opacity: 1;
}

#main {
  padding: 4rem 0 2rem 0;
}

@media screen and (max-width: 736px) {
  #main {
    padding: 3rem 0 1rem 0;
  }
}

#footer {
  padding: 6rem 0 4rem 0;
  background: #f2f2f2;
}

#footer .copyright {
  color: #bbb;
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 3rem 0 1rem 0;
  }
}

#flexgrid {
  width: 100%;
  margin: 0 0 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

#flexgrid > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}

#flexgrid > * {
  width: 33.33333%;
}

#flexgrid > * {
  padding: 3rem;
  width: calc(33.33333% + 2rem);
}

#flexgrid > :nth-child(-n + 3) {
  padding-top: 0;
}

#flexgrid > :nth-last-child(-n + 3) {
  padding-bottom: 0;
}

#flexgrid > :nth-child(3n + 1) {
  padding-left: 0;
}

#flexgrid > :nth-child(3n) {
  padding-right: 0;
}

#flexgrid > :nth-child(3n + 1), #flexgrid > :nth-child(3n) {
  width: calc(33.33333% + -1rem);
}

#flexgrid > div {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-left-width: 1px;
  border-top-width: 1px;
  text-align: center;
}

#flexgrid > div > :last-child {
  margin-bottom: 0;
}

#flexgrid > div:nth-child(3n - 2) {
  border-left-width: 0;
}

#flexgrid > div:nth-child(-n + 3) {
  border-top-width: 0;
}

#flexgrid > div .icon {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 3.5rem;
  background: #fff;
  color: #08aeea;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  margin: 0 auto 2rem auto;
}

@media screen and (max-width: 980px) {
  #flexgrid > * {
    width: 100%;
  }

  #flexgrid > * {
    padding: 2rem;
    width: calc(33.33333% + 1.33333rem);
  }

  #flexgrid > :nth-child(-n + 3) {
    padding-top: 2rem;
  }

  #flexgrid > :nth-last-child(-n + 3) {
    padding-bottom: 2rem;
  }

  #flexgrid > :nth-child(3n + 1) {
    padding-left: 2rem;
  }

  #flexgrid > :nth-child(3n) {
    padding-right: 2rem;
  }

  #flexgrid > :nth-child(3n + 1), #flexgrid > :nth-child(3n) {
    padding: 2rem;
    width: calc(100% + 4rem);
  }

  #flexgrid > * {
    padding: 2rem;
    width: calc(50% + 2rem);
  }

  #flexgrid > :nth-child(-n + 2) {
    padding-top: 2rem;
  }

  #flexgrid > :nth-last-child(-n + 2) {
    padding-bottom: 2rem;
  }

  #flexgrid > :nth-child(2n + 1) {
    padding-left: 2rem;
  }

  #flexgrid > :nth-child(2n) {
    padding-right: 2rem;
  }

  #flexgrid > :nth-child(2n + 1), #flexgrid > :nth-child(2n) {
    padding: 2rem;
    width: calc(100% + 4rem);
  }

  #flexgrid > * {
    padding: 2rem;
    width: calc(100% + 4rem);
  }

  #flexgrid > :nth-child(-n + 1) {
    padding-top: 0;
  }

  #flexgrid > :nth-last-child(-n + 1) {
    padding-bottom: 0;
  }

  #flexgrid > :nth-child(1n + 1) {
    padding-left: 0;
  }

  #flexgrid > :nth-child(1n) {
    padding-right: 0;
  }

  #flexgrid > :nth-child(1n + 1), #flexgrid > :nth-child(1n) {
    width: calc(100% + 2rem);
  }

  #flexgrid > div:nth-child(2n - 1) {
    border-left-width: 1px;
  }

  #flexgrid > div:nth-child(-n + 2) {
    border-top-width: 1px;
  }

  #flexgrid > div:nth-child(-n + 3) {
    border-top-width: 1px;
  }

  #flexgrid > div:nth-child(n) {
    border-left-width: 0;
  }

  #flexgrid > div:nth-child(-n + 1) {
    border-top-width: 0;
  }

  #flexgrid > div .icon {
    font-size: 2rem;
    width: 6rem;
    height: 6rem;
  }
}

.grid-style {
  width: 100%;
  margin: 0 0 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.grid-style > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}

.grid-style > * {
  width: 50%;
}

.grid-style > * {
  margin: 1rem;
}

.grid-style > :nth-child(-n + 2) {
  padding-top: 0;
}

.grid-style > :nth-last-child(-n + 2) {
  padding-bottom: 0;
}

.grid-style > :nth-child(2n + 1) {
  padding-left: 0;
}

.grid-style > :nth-child(2n) {
  padding-right: 0;
}

.grid-style > :nth-child(2n + 1), .grid-style > :nth-child(2n) {
  width: calc(30% + 0rem);
}

.grid-style .box {
  margin: 0;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
}

@media screen and (max-width: 980px) {
  .grid-style > * {
    width: 100%;
  }

  .grid-style > * {
    padding: 2rem;
    width: calc(50% + 2rem);
  }

  .grid-style > :nth-child(-n + 2) {
    padding-top: 2rem;
  }

  .grid-style > :nth-last-child(-n + 2) {
    padding-bottom: 2rem;
  }

  .grid-style > :nth-child(2n + 1) {
    padding-left: 2rem;
  }

  .grid-style > :nth-child(2n) {
    padding-right: 2rem;
  }

  .grid-style > :nth-child(2n + 1), .grid-style > :nth-child(2n) {
    padding: 2rem;
    width: calc(100% + 4rem);
  }

  .grid-style > * {
    padding: 2rem;
    width: calc(100% + 4rem);
  }

  .grid-style > :nth-child(-n + 1) {
    padding-top: 0;
  }

  .grid-style > :nth-last-child(-n + 1) {
    padding-bottom: 0;
  }

  .grid-style > :nth-child(1n + 1) {
    padding-left: 0;
  }

  .grid-style > :nth-child(1n) {
    padding-right: 0;
  }

  .grid-style > :nth-child(1n + 1), .grid-style > :nth-child(1n) {
    width: calc(100% + 2rem);
  }
}

#cnzz_stat_icon_1278302742 a {
  color: #555 !important;
  text-decoration: none !important;
  font-weight: 400;
}

#cnzz_stat_icon_1278302742 a:active {
  color: #555 !important;
}

.fab {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  background: #00BCD4;
  margin: 15px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 998;
  overflow: hidden;
}

.fab i {
  margin-top: 15px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
}

#nprogress {
  pointer-events: none
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0, -4px);
  -ms-transform: rotate(3deg) translate(0, -4px);
  transform: rotate(3deg) translate(0, -4px)
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative
}

.nprogress-custom-parent #nprogress .bar, .nprogress-custom-parent #nprogress .spinner {
  position: absolute
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

#nprogress .bar {
  z-index: 15031;
}

#nprogress .spinner {
  z-index: 15031;
}

@media (prefers-color-scheme: dark) {
  body, .wrapper.style2 {
    background-color: #000 !important;
  }

  #three .box {
    background-color: #1e272e !important;
    color: #95afc0 !important;
  }

  #footer, #one .content, #two .box, #footer .inner .box, .layui-container, .blog-nav-two, .cd-timeline-content {
    background-color: #000 !important;
    color: #95afc0 !important;
  }

  #post #two .box, .cntwrap .sub_rp_content {
    background: #1e272e !important;
  }

  .search_msg, .wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6, #article-content, .markdown-body table, label, a, .about_content, #comments div, #comments .cn, .cntwrap div.sub_rp_content .rp_sub, .wrapper.style2 table th {
    color: #95afc0 !important;
  }

  .cntwrap .sub_rp_content {
    background-color: #1e272e !important;
  }

  .markdown-body table tr {
    background-color: #1e272e !important;
    color: #95afc0 !important;
  }

  .article_list p.article_list_title {
    color: #95afc0 !important;
  }

  .wrapper.style2 h2, a.loading-btn, #one .content h2, #three .box .title a, #four a, #post #two .box header, #post #footer .inner .box .content h2 {
    color: #95afc0 !important;
  }

  img {
    filter: grayscale(30%) !important;
    opacity: .6 !important;
  }

  .wrapper.style2 input[type="text"], .wrapper.style2 input[type="password"], .wrapper.style2 input[type="email"], .wrapper.style2 select, .wrapper.style2 textarea {
    background-color: #636e72 !important;
  }

  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    background-color: #636e72 !important;
  }
}

.fas {
  text-align: center
}

.fas i {
  font-size: 30px
}

[v-cloak] {
  display: none;
}
