.wrapper.style2 {
    overflow: inherit;
}
.article-record-title {
    position: sticky !important;
    top: 65px !important;
    margin-right: 10px;
}
.wrapper.style2 li a:hover {
    color: #333;
    margin-left: 8px;
}
.article-record-title li a {
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.article-record-title li a:hover {
    color: initial;
}

.article-record-title li.selected a {
    background-color: #00BCD4;
    color: #fff !important;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.article-record-content {
    padding: 10px 15px;
    background-color: #fff;
  border: 1px solid rgba(144, 144, 144, 0.25);
}

.article-record-item h4 {
    margin: 15px 0;
}

.article-record-item li {
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: ellipsis; /* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera */
}
.article-record-ul {
  margin: 0;
  padding: 0;
}
#app ul.article-record-ul li {
  padding-left: 0;
  list-style: none;
}

.article-record-item li a {
    color: #666;
}

.article-record-item li a:hover {
    color: #1E9FFF;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

@media(max-width:767px) {
    .article-record-content {
        padding: 5px 10px;
    }

    .article-record-item h4 {
        margin: 8px 0;
    }
}

@media (min-width: 768px) {
    .article-record-title {
        top: 179px;
        width: 112px;
    }
}

@media (min-width: 992px) {
    .article-record-title {
        width: 146.33px;
    }
}

@media (min-width: 1200px) {
    .article-record-title {
        width: 180px;
    }
}
@media (prefers-color-scheme: dark) {
    .article-record-content {
        background-color: #000;
    }
    .article-record-title li a {
        background-color: #000;
    }
}
