/* 全局样式
 * @Author: Leo
 */
.layui-container {
    padding: 0 10px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

.shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

body .share .layui-layer-content {
    overflow: hidden;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.blog-body {
    /*padding-top: 50px;*/
    position: relative;
}

.blog-body > .layui-container {
    padding: 15px;
    min-height: 700px;
}

.blog-body > .layui-container .layui-row:last-child {
    margin-bottom: 0;
}
.blog-panel {
    min-height: 700px;
}

.blog-nav-two {
    background-color: #fff;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid rgba(144, 144, 144, 0.25);
    margin-bottom: 10px;
}

.blog-nav-two .layui-breadcrumbs span[lay-separator] {
    margin: 0;
}

.blog-nav-two .layui-breadcrumbs a:hover,
.blog-nav-two .layui-breadcrumbs .selected {
    color: var(--text_color) !important;
}

.blog-nav-two .layui-breadcrumbs a span {
    display: inline-block;
    padding: 0 10px;
    line-height: 33px;
}


.blog-nav-two .layui-breadcrumbs a span:hover,
.blog-nav-two .layui-breadcrumbs .selected span {
    border-bottom: 3px solid var(--text_color);
}
