/* 媒体查询
 * @Author: Leo
 * @Date: 2019-10-09 11:33:13
 * @Last Modified by:   Leo
 * @Last Modified time: 2019-10-09 11:33:13
 */

/* 超小屏幕（手机，小于 768px） */
@media(max-width:767px) {
    .shadow {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }



    .blog-body > .layui-container {
        padding-top: 10px;
    }

}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .layui-container {
        padding: 0 15px;
    }

    .layui-hide-xs {
        /*display: initial !important;*/
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {

}

@media(max-width:992px) {
    .padding0 {
        padding: 0;
    }
}
